.game-box {
    min-height: 50px;
    min-width: 50px;
    width: 20%;
    height: auto;
    border: 1px solid rgba(103, 133, 216, 0.527);
    cursor: cell;
}

.game-box:hover {
    background-color: rgba(131, 148, 138, 0.466);
}

.game-box.active {
    background-color: greenyellow;
}